<html>

<head>
  <title>Express</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>Express</h1>
  <p>Welcome to Express</p>
  <%= title %>

  <script type="text/javascript" src="javascripts/SocketMasterClient.js"></script>
  <script type='text/javascript' src="javascripts/test.js"></script>
  <button id="connect">Connect it</button>
  <button id="disconnect">disconnect it</button>
  <script>

      var connect = document.getElementById("connect");
      var disconnect = document.getElementById("disconnect");

      var client = new MasterSocket({ip:'127.0.0.1',port:8080})

      disconnect.addEventListener('click',()=>{
          client.closeNow();
      });

      connect.addEventListener('click',()=>{
          client.send('krastavac',{
              data1:"paprikas",
              kljuc:"hej prase jedno"
          });
          console.log("AAAAAAAAAAaa")
      });

      // connection is opened and ready to use
      client.socket.onopen =  (ws) =>{
          console.log("Connection established ");
          /* if you wish to send data to the server, at specific event */
          /* 1st parametar is event on server, second is data which you wish to send */
          // client.send('kuhinja',{
          //     data1:"paprikas",
          //     kljuc:"hej prase jedno"
          // });
      };
      client.connection((socket)=>{

          /* 1st parameter is name of receiver, second is data wich you wish to send*/
          client.receiver('djoka', socket,(data)=>{
              console.log("*****************TO JE TAJ DJOKA");
              console.log(data)
          });

          client.receiver('krastavac', socket,(data)=>{
              console.log("*****************TO JE TAJ KRASTAVAC");
              console.log(data)
              // client.closeNow();
          });
      });

      client.onClose( err=>{
          console.log("This client get disconnected form server!")
      });

      client.onerror =  (error)=>{
          console.log("Some Error occurred!!");
      }

  </script>
</body>
</html>
